@model IEnumerable<BOL.tbl_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CategoryId)*@
            @Html.ActionLink("Category ID", "Index", new { SortBy = "CategoryId"
                , SortOrder = ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"
                , PageNumber = ViewBag.CurrentPage})
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            @Html.ActionLink("Category Name", "Index", new {SortBy = "CategoryName"
             ,SortOrder = ViewBag.SortOrder == "ASC" ? "DESC" : "ASC"
             ,PageNumber = ViewBag.CurrentPage})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
        </tr>
    }
</table>
@for (int i = 0; i < ViewBag.PageCount; i++)
{
    if (i+1 == ViewBag.CurrentPage)
    {
        <u>@Html.ActionLink((i + 1).ToString() + " ", "Index", new { SortBy = ViewBag.SortBy, SortOrder = ViewBag.SortOrder, PageNumber = (i + 1).ToString() })</u>
    }
    else
    {
        @Html.ActionLink((i + 1).ToString() + " ", "Index", new { SortBy = ViewBag.SortBy, SortOrder = ViewBag.SortOrder, PageNumber = (i + 1).ToString() })
    }
}
